:root {
  --color-primary: #baf1e4;
  --color-primary-light: #ded5d1;
  --color-secondary: #e1b39b;
  --color-accent: #e77a6f;
  ---color-neutral-beige: #f43b59;

  --font-primary :"Thasadith", sans-serif;
  --font-secondary: "Lora", serif;
}

html {
  font-family: var (--font-primary);
}

h1 {
  color: var(---color-neutral-beige);
  font-weight: 500;
}

h2 {
  color: var(---color-neutral-beige);
  font-weight: 500;
}

p {
  color: var(--color-primary-light);
}

a {
  color: var(--color-secondary);
  transition: all .15s linear;
}

a:hover, a:focus {
  color: var(---color-neutral-beige);
}

mark {
  background-color: var(--color-primary-light);
}
