:root {
  --color-primary: #baf1e4;
  --color-primary-light: #ded5d1;
  --color-secondary: #e1b39b;
  --color-accent: #e77a6f;
  ---color-neutral-beige: #f43b59;

  --font-primary : "Oleo Script Swash Caps", cursive;
  --font-secondary: "Lora", serif;
}

html {
  font-family: var (--font-primary);
}
