.masthead {
  background-position: left top, left bottom, left top;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  border-radius: 8px;
}

.nav a:hover {
  background-repeat: no-repeat;
}

@media only screen and (min-width: 60em) {

  .nav {
    text-align: right;
  }

}
